* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", sans-serif;
}
html, body, #root {
  width: 100%;
  height: 100%;
}

.App-header {
  position: relative;
  padding: 0 30px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
  color: #8590a6;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  background-clip: content-box;
  z-index: 2;
}

.jsplumb-box{
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  cursor: move;
  user-select: none;
}
.jsplumb-canvas{
  position: relative;
  height: 100%;
  width: 50px;
  height: 50px;
}
/* 
border: 1px solid #c1c1c1;
background: #F6F6F6 ;
overflow: hidden;
z-index: 2;
cursor: move; */

.gui-canvas-node{
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  height: 80px;
  color: #fff;
  border: 1px solid #e0e7ed;
  border-radius: 3px;
  background: #dad8d8;
  box-shadow: 0 1px 4px rgba(40,40,40,0.15);
  cursor: pointer;
}